:root{
font-size: 62.5%;
--primay-color:hsla(170, 100%, 26%, 1);
--seond-color:hsla(210, 11%, 15%, 1);
--paragrafo:hsla(210, 9%, 31%, 1)





}

header{
    width: 37.5rem;
margin-inline: auto;
}

body{
    font-family:'DM Sans', sans-serif; 
    text-align: center;
}

h4{font-size: 1.4rem;
line-height: 150%;
color:var(--primay-color);

}
h1{font-size: 3.4rem;
line-height: 130%;
color: var (--seond-color);
}

p{font-size:1.8 ;
line-height:150% ;
font-weight: 400;
color: var (--paragrafo);
}
    button{
        border: none;
width: 26.3rem;
height: 5.2rem;
border-radius: 4rem;
background-color: var(--primay-color) ;
color:#fff;
font-size: 1.4rem;
text-transform: uppercase ;
display: flex;
margin-inline: auto;
justify-content: center;
align-items: center;
gap: 1.6rem;
    }


